
<app-banner></app-banner>

<router-outlet></router-outlet>

<div class="bg-dark py-5 my-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- <div class="col-lg-2">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="" />
            </div> -->
            <div class="col-lg-12">
                <h1 class="display-4 text-white text-center mt-1 mb-1">
                    Poupe hoje para não se poupar amanhã.
                </h1>
            </div>

        </div>
    </div>
</div>


<div class="container main-container my-5">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://image.flaticon.com/icons/svg/1087/1087918.svg" alt="" height="164px" width="253px" class="card-img-top mt-2">
                <div class="card-body">
                    <h4 class="card-title text-purple">Educação Financeira</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi
                        perspiciatis adipisci cum quos tempore a ab id</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://image.flaticon.com/icons/svg/631/631200.svg" alt="" height="164px" width="253px" class="card-img-top mt-2">
                <div class="card-body">
                    <h4 class="card-title text-purple">Empréstimo Pessoal</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi
                        perspiciatis adipisci cum quos tempore a ab id</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://image.flaticon.com/icons/svg/1728/1728449.svg" alt="" height="164px" width="253px" class="card-img-top mt-2">
                <div class="card-body">
                    <h4 class="card-title text-purple">Campanhas Semestrais</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi
                        perspiciatis adipisci cum quos tempore a ab id</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://image.flaticon.com/icons/svg/547/547166.svg" alt="" height="164px" width="253px" class="card-img-top mt-2">
                <div class="card-body">
                    <h4 class="card-title text-purple">Rentabilidado PoupePrev</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi
                        perspiciatis adipisci cum quos tempore a ab id</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="fluid-container main-container bg-light mb-5">
    <div class="container">
    <div class="row">
        <div class="col-12 my-3"><a href="" class="text-purple "><img src="https://image.flaticon.com/icons/svg/126/126500.svg" width="64" alt="" class="mr-2"> Fale Conosco</a></div>
    </div>
</div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <button class="btn btn-dark btn-lg mr-2" (click)="alertSuccess()">Show Modal Alert Success</button>
            <button class="btn btn-info btn-lg mr-2" (click)="alertInfo()">Show Modal Alert Info</button>
            <button class="btn btn-danger btn-lg mr-2" (click)="alertDanger()">Show Modal Alert Danger</button>
            <button class="btn btn-outline-warning btn-lg mr-2" (click)="alertWarning()">Show Modal Alert
                Warning</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-5">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                    aria-controls="dropdown-basic">
                    Button dropdown <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
                <tabset type="pills" [vertical]="true" >
                        <tab heading="Pills 1" class="col-lg-3">Pills content 1</tab>
                        <tab heading="Pills 2" class="col-3">Pills content 2</tab>
                </tabset>

                
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
                <button type="button" class="btn btn-dark" (click)="showModal()">Open modal</button>
        </div>
    </div>
</div>


 -->
