<!-- <div class="authBlock">
        <h3>Sign Up</h3>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Username" #userEmail required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Registrar" (click)="SignIn(userEmail.value, userPassword.value)">
        </div>
</div> -->


<div class="container" id="container" #dvContainer>
	<div class="form-container sign-up-container">
		<div class="form">
			<h1>Criar conta</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span> -->
			<input type="email" placeholder="Email" #Email required/>
			<input type="password" placeholder="Password" #Password required/>
			<button (click)="SignUp(Email.value, Password.value)"  >Registrar</button>
		</div>
	</div>
	<div class="form-container sign-in-container ">
		<div class="form">
			<h1>Minha Conta</h1>
			<div class="social-container">
				<!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
			</div>
			<span></span>
			<input type="email" value="alexsan11@hotmail.com" placeholder="Email" #userEmail required/>
			<input type="password" value="Chengo@11" placeholder="Password" #userPassword required/>
			<a href="#">Esqueceu a senha?</a>
			<button (click)="SignIn(userEmail.value, userPassword.value)" >Entrar</button>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bem vindo!</h1>
				<p>Para se manter conectado, faça o login com suas informações de participante da <strong>PoupePrev</strong></p>
				<button class="ghost" id="signIn" (click)='dvContainer.classList.remove("right-panel-active")'>Entrar</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Olá, Participante!</h1>
				<p>Entre com seus dados para criar um acesso e participar do plano <strong>PoupePrev</strong></p>
				<button class="ghost" id="signUp" (click)='dvContainer.classList.add("right-panel-active")'>Registrar</button>
			</div>
		</div>
	</div>
</div>

<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer> -->